.header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.left {
	h4 {
		color: var(--dark-2);
		font-size: 24px;
		font-weight: 700;
	}

	p {
		color: var(--neutrals-2);
		font-size: 14px;
		font-weight: 500;
	}
}

.right {
	display: flex;
	gap: 12px;
}

.form {
	margin-top: 20px;
}

.label {
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	display: block;
	margin-bottom: 12px;
}

.group_radio {
	display: flex;
	align-items: center;
	gap: 16px;

	.item_radio {
		display: flex;
		align-items: center;
		gap: 12px;

		input {
			cursor: pointer;
			user-select: none;
			width: 16px;
			height: 16px;
		}

		label {
			cursor: pointer;
			user-select: none;
			color: #23262f;
			font-size: 14px;
			font-weight: 500;
		}
	}
}
