.container {
	h4 {
		color: #141416;
		font-size: 26px;
		font-weight: 700;
		margin-bottom: 16px;
	}

	.top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 16px;
	}
}

.header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.header_title {
	display: flex;
	align-items: center;
	gap: 12px;
	p {
		color: var(--dark-2);
		font-size: 20px;
		font-weight: 600;
	}
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 16px;
}

.main_search {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 12px;
}

.search {
	min-width: 360px;
}

.filter {
	min-width: 200px;
}
