$bg-input: #fff;
$bg-focus-input: #fff;
$bg-btn: #2367ed;
$bg-disable-input: #f1f4f9;

$color-btn: #fff;
$color-placeholder: #b4b5bc;
$color-clean: #29303c;
$color-focus: #2367ed;
$color-done: #2cae39;
$color-error: #e93a3a;

$border-input: #e1e5ed;
$border-disable-input: #e1e5ed;

$border-radius: 2px;
$padding-input: 8px 20px;
$font-size-input: 16px;

.criteria {
	display: grid;
	gap: 16px;
	grid-template-columns: 5fr 240px 3fr;
	gap: 16px;

	& + & {
		margin-top: 16px;
	}
}

.label {
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	margin-bottom: 8px;
}

.group_radio {
	display: flex;
	align-items: center;
	gap: 16px;

	.item_radio {
		display: flex;
		align-items: center;
		gap: 12px;

		input {
			cursor: pointer;
			user-select: none;
			width: 20px;
			height: 20px;
		}

		label {
			cursor: pointer;
			user-select: none;
			color: #23262f;
			font-size: 16px;
			font-weight: 500;
		}
	}
}

.box_control {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 8px;
}

.input_specification {
	flex: 1;
	position: relative;

	.input {
		width: 100%;
		border-radius: $border-radius;
		border: 1px solid $border-input;
		background-color: $bg-input;
		padding: $padding-input;
		padding-right: 48px;
		font-size: $font-size-input;
		font-weight: 500;
		z-index: 1;

		&:focus {
			border: 1px solid $color-focus !important;
			background-color: $bg-focus-input !important;
		}

		&::placeholder {
			font-weight: 500;
			color: $color-placeholder;
		}
	}

	.unit {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(-50%, -50%);
		color: #171832;
		font-size: 16px;
		font-weight: 500;
		z-index: 10;
		margin-right: 8px;
	}
}

.btn_delete {
	width: 42px;
	height: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	background: #ff5f6d;
	cursor: pointer;
	user-select: none;
	color: #fff;
	transition: 0.3s;

	&:active {
		transform: scale(0.9);
	}
}

.input_field {
	flex: 1;
	position: relative;

	.input {
		width: 100%;
		border-radius: $border-radius;
		border: 1px solid $border-input;
		background-color: $bg-input;
		padding: $padding-input;
		padding-right: 48px;
		font-size: $font-size-input;
		font-weight: 500;
		z-index: 1;

		&:focus {
			border: 1px solid $color-focus !important;
			background-color: $bg-focus-input !important;
		}

		&::placeholder {
			font-weight: 500;
			color: $color-placeholder;
		}
	}
}
