$bg: #fff;
$bg-focus: #fff;
$bg-btn: #2367ed;
$bg-disable: #f4f5f6;

$color-btn: #fff;
$color-placeholder: #b4b5bc;
$color-clean: #29303c;
$color-focus: #2367ed;
$color-done: #2cae39;
$color-error: #e93a3a;

$border: #e1e5ed;
$border-disable: #e1e5ed;

$border-radius: 2px;
$padding: 8px 20px;
$font-size: 16px;

.label {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 8px;
	display: block;
}

.box_input {
	position: relative;
	user-select: none;
}

.input {
	font-size: $font-size;
	font-weight: 500;
	border: 1px solid $border;
	padding: $padding;
	height: 42px;
	border-radius: $border-radius;
	width: 100%;
	background-color: $bg;

	&:focus {
		background-color: $bg-focus;
		border: 1px solid $border;
	}
}

.main_option {
	margin-top: 6px;
	position: absolute;
	width: 100%;
	border-radius: $border-radius;
	z-index: 15;
	padding: 6px;
	transform: scaleY(0);
	transform-origin: top center;
	visibility: hidden;
	opacity: 0;
	transition: 0.15s;
	border: 1px solid $border;
	background-color: $bg;
	max-height: 360px;
	overflow: auto;

	&.open {
		visibility: visible;
		opacity: 1;
		transform: scaleY(1);
	}
}

.item {
	position: relative;
	width: 100%;
	padding: 8px 16px;
	font-size: 14px;
	border-radius: 2px;
	cursor: pointer;
	color: #000;
	font-weight: 500;
	z-index: 10;

	& + & {
		margin-top: 4px;
	}

	&.active {
		background-color: var(--bg-grey);

		&:hover {
			background-color: var(--bg-grey);
		}
	}

	&:hover {
		background-color: var(--bg-grey);
	}
}
