.main_search {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 12px;
}

.search {
	min-width: 360px;
	margin-right: 10px;
}

.table {
	margin-top: 16px;
}

.link {
	font-weight: 700;
	color: var(--primary);

	&:hover {
		text-decoration: underline;
	}
}

.checkbox_right {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 280px;
	color: #2f3643;
	font-size: 16px;
	font-weight: 500;

	input {
		cursor: pointer;
		width: 20px;
		height: 20px;
		margin-right: 12px;
	}

	label {
		display: block;
		cursor: pointer;
	}
}
