$bg-color: var(--bg-light);
$bg-focus: var(--bg-light);

$color-text: var(--dark);

$border-color: var(--border-color);
$border-hover: var(--primary);
$border-focus: var(--primary);
$border-radius: 2px;

$bg: #fff;
$bg-focus: #fff;
$bg-btn: #2367ed;

$color-btn: #fff;
$color-placeholder: #b4b5bc;
$color-clean: #29303c;
$color-focus: #2367ed;
$color-done: #2cae39;
$color-error: #e93a3a;

$border: #e1e5ed;

$border-radius: 2px;
$padding: 8px 20px;
$font-size: 16px;

.container {
	position: relative;
	width: 540px;
	padding: 32px;
	border-radius: 2px;
	background: var(--bg-light);
	box-shadow: 0px 137px 123px 0px rgba(175, 175, 175, 0.11), 0px 59.642px 64.694px 0px rgba(175, 175, 175, 0.08),
		0px 29.66px 43.62px 0px rgba(175, 175, 175, 0.07), 0px 13.866px 30.709px 0px rgba(175, 175, 175, 0.07),
		0px 5.309px 20.507px 0px rgba(175, 175, 175, 0.06), 0px 1.17px 10.708px 0px rgba(175, 175, 175, 0.05);

	h4 {
		color: var(--dark-2);
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 20px;
	}

	.btn {
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 10px;
	}

	.close {
		position: absolute;
		right: 32px;
		top: 32px;
		cursor: pointer;
		user-select: none;
		font-size: 24px;
		color: var(--dark-2);
		transition: 0.3s;

		&:active {
			transform: scale(0.9);
		}
	}
}

.list_customers {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;

	.customer {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 4px 12px;
		border: 1px solid var(--border-color);
		background: #f8fbff;

		p {
			user-select: none;
			color: #1850d7;
			font-size: 14px;
			font-weight: 500;
		}

		span {
			color: #777e90;
		}

		.delete_customer {
			padding: 4px;
			cursor: pointer;
			transition: 0.3s;

			&:active {
				transform: scale(0.9);
			}
		}
	}
}

.select_customers {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 42px;
	font-size: $font-size;
	padding: 8px 16px;
	border: 1px solid $border;
	border-radius: $border-radius;
	background-color: $bg;
	font-weight: 500;

	.text {
		margin: 0;

		&.placeholder {
			color: $color-placeholder;
		}
	}

	&.active {
		border: 1px solid $color-focus;
		background-color: $bg-focus;

		.icon {
			color: $color-focus;
			transform: rotate(180deg);
		}
	}
}
